services:
  openproject:
    image: openproject/community:{{ OPENPROJECT_VERSION }}
    container_name: openproject
    ports:
      - "8081:80"
    environment:
      OPENPROJECT_SECRET_KEY_BASE: {{ OPENPROJECT_SECRET_KEY }}
      OPENPROJECT_ADMIN_PASSWORD: {{ OPENPROJECT_ADMIN_PASSWORD }}
      OPENPROJECT_ADMIN_FIRSTNAME: "Admin"
      OPENPROJECT_ADMIN_LASTNAME: "User"
      OPENPROJECT_ADMIN_EMAIL: "{{ OPENPROJECT_ADMIN_EMAIL }}"
    volumes:
      - openproject_data:/var/openproject/assets
    restart: always

volumes:
  openproject_data:
